@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&display=swap');

body {
    margin: 0;
    padding: 0px;
    
}
.menu {
    background-color: #362222;
    height: 50px;
}

.menu ul {
    width: max-content; /* impide que al hace hover cambie la posición de los demas elementos */
    margin: 0 auto;
}
.menu li {
    display: inline;
    margin: 0 20px;
}

.menu li a {
    font-size: 24px;
    color: #FFEDED;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    line-height: 50px; /* Le damos 50 por que es lo que mide en .menu y es exclusivo para el texto */
    transition: color 0.3s; /* Aca hacemos referencia a cuanto va tardar en hacer el efecto hover */
}

li a:hover {
    color: #FFCCD2;
    font-size: 30px;
}