body {background-color: #2d8652;}
.line1y4 {font-size: 12px; color: white; font-style: italic;}
.line2y7 {font-size: 15px; color: #f2dfb3;}
.line3y5 {font-size: 16px; color: #ff9f1a}
.line6y8 {font-size: 13px; color: red}